.btn-add-new-post {
  position: fixed;
  bottom: 20px;
  right: 20px;
}

.no-posts-here {
  text-align: center;
}

.post {}

.post .post__meta {
  font-weight: bold;
  text-align: right;
  padding-bottom: 19px;
}

.post .post__meta a:hover {
  text-decoration: none;
}

.account {}

.account .account__header {
  margin-bottom: 20px;
  text-align: center;
}

.account .account__username {
  font-weight: bold;
}

.source {
  background-color: #2ecc71;
}

.target {
  background-color: #9b59b6;
}

.node-container {
  padding: 30px;
  margin: 10px;
}

.typeahead-status {
  height: 20px;
}

.control-label {
  padding-top: 5px;
  padding-left: 60px;
  padding-right: 0px;
}

.node-buttons {
  height: 56px;
  display: flex;
  justify-content: flex-end;
}

.swap-button {
  margin-top: 60px;
  font-size: 40px;
  display:block;
  text-align:center
}

.interactions {
  background-color: #3498db;
  padding: 30px;
  margin: 10px;
}

.toggle-show {
  cursor: pointer;
}

.chevron-btn {
  display: inline-block;
  margin-right: 5px;
}

.draggable-column-container {
  display: inline-block;
  cursor: pointer;
  margin: 5px;
}

.draggable-column {
  margin: 5px;
}
