<div class="container-fluid">
    <div class="row">
        <div class="col-md-6">
            <div class="source">
                <div class="container-fluid">
                    <div class="row">
                        <h3>Source Node</h3>
                    </div>
                    <form class=".form-horizontal">
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="source_uni_prot_ac">UniProt AC:</label>
                                <div class="col-sm-8">
                                    <input
                                            class="form-control"
                                            ng-model="sourceNode.uni_prot_ac"
                                            type="text"
                                            id="source_uni_prot_ac"
                                            placeholder="Start typing the Uni Prot AC!"
                                            typeahead="displayAsString(node) as node.uni_prot_ac for node in queryNodesByUniProtAc($viewValue)| limitTo:8"
                                            typeahead-loading="loadingNodes"
                                            typeahead-no-results="noResults"
                                            typeahead-on-select="onSourceSelect($item)"
                                            typeahead-min-length='3'
                                            />
                                    <i ng-show="loadingNodes" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noResults">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="source_gene_name">Gene Name:</label>
                                <div class="col-sm-8">
                                    <input class="form-control" ng-model="sourceNode.gene_name" type="text" id="source_gene_name" placeholder="Start typing the gene name!"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="target">
                <div class="container-fluid">
                    <div class="row">
                        <h3>Target Node</h3>
                    </div>
                    <form class=".form-horizontal">
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="target_uni_prot_ac">UniProt AC:</label>
                                <div class="col-sm-8">
                                    <input
                                            class="form-control"
                                            ng-model="targetNode.uni_prot_ac"
                                            type="text"
                                            id="target_uni_prot_ac"
                                            placeholder="Start typing the Uni Prot AC!"
                                            typeahead="displayAsString(node) as node.uni_prot_ac for node in queryNodesByUniProtAc($viewValue)| limitTo:8"
                                            typeahead-loading="loadingNodes"
                                            typeahead-no-results="noResults"
                                            typeahead-on-select="onTargetSelect($item)"
                                            typeahead-min-length='3'
                                            />
                                    <i ng-show="loadingNodes" class="glyphicon glyphicon-refresh"></i>
                                    <div ng-show="noResults">
                                        <i class="glyphicon glyphicon-remove"></i> No Results Found
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="target_gene_name">Gene Name:</label>
                                <div class="col-sm-8">
                                    <input class="form-control" ng-model="targetNode.gene_name" type="text" id="target_gene_name" placeholder="Start typing the gene name!"/>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="interactions">
            <div class="container-fluid">
                <div class="row">
                    <h3>Interactions <a class="btn btn-success" ng-click="fetchInteractionsWithMeta()">Fetch interactions</a><h3>
                </div>
                <div class="row" ng-show="selectedInteraction">
                    <div class="interaction-info">
                        <!-- Selected interaction here maybe show the first interaction by default?-->
                    </div>
                </div>
                <div class="row">
                    <div class="hits" ng-show="interactions_with_meta">
                        <scrollable-table watch="interactions_with_meta">
                            <table class="table table-striped table-bordered">
                                <thead>
                                <tr>
                                    <th sortable-header col="interaction_type">Interaction type</th>
                                    <th sortable-header col="edge_type">Edge type</th>
                                    <th sortable-header col="directness">Directness</th>
                                    <th sortable-header col="biological_process">Biological process</th>
                                    <th sortable-header col="score">Score</th>
                                    <th sortable-header col="is_in_full">Is in full</th>
                                    <th sortable-header col="is_in_medium">Is in medium</th>
                                    <th sortable-header col="is_in_small">Is in small</th>
                                    <th sortable-header col="is_in_skeleton">Is in skeleton</th>
                                    <th sortable-header col="entry_state">Entry state</th>
                                    <th sortable-header col="reviewed">Reviewed</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr
                                        ng-repeat="interaction_with_meta in interactions_with_meta"
                                        row-id="{{ interaction_with_meta.id }}"
                                        ng-class="{info: selectedInteraction.id == interaction_with_meta.id}"
                                        >
                                    <td>{{ interaction_with_meta.interaction_type }}</td>
                                    <td>{{ interaction_with_meta.edge_type }}</td>
                                    <td>{{ interaction_with_meta.directness }}</td>
                                    <td>{{ interaction_with_meta.biological_process }}</td>
                                    <td>{{ interaction_with_meta.score }}</td>
                                    <td>{{ interaction_with_meta.is_in_full ? 'yes' : 'no' }}</td>
                                    <td>{{ interaction_with_meta.is_in_medium ? 'yes' : 'no' }}</td>
                                    <td>{{ interaction_with_meta.is_in_small ? 'yes' : 'no' }}</td>
                                    <td>{{ interaction_with_meta.is_in_skeleton ? 'yes' : 'no' }}</td>
                                    <td>{{ interaction_with_meta.meta.entry_state }}</td>
                                    <td>{{ interaction_with_meta.meta.reviewed ? 'yes' : 'no' }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </scrollable-table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>